In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
player_count = purchase_data['SN'].value_counts()
player_count_final = player_count.count()
player_count_final

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = purchase_data['Item ID'].value_counts()
unique_items = unique_items.count()

In [5]:
average_price = purchase_data['Price'].mean()
average_price = round(average_price, 2)

In [6]:
number_purchase = purchase_data['Item ID'].count()

In [7]:
total_revenue = purchase_data['Price'].sum()

In [10]:
purchasing_analysis_df = pd.DataFrame({"Unique Items": [unique_items],
                                      "Average Price": [average_price],
                                      "Number Purchase": [number_purchase],
                                      "Total Revenue": [total_revenue]})

In [11]:
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis_df

   Unique Items Average Price  Number Purchase Total Revenue
0           183         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
player_gender = purchase_data[['Gender', 'SN']].drop_duplicates()
player_gender_final = player_gender['Gender'].value_counts()
player_gender_percent = player_gender_final/player_count_final

In [13]:
gender_demo_df = pd.DataFrame({"Percent": player_gender_percent,
                               "Total": player_gender_final})

In [14]:
gender_demo_df["Percent"] = gender_demo_df["Percent"].map("{:,.2%}".format)
gender_demo_df

                      Percent  Total
Male                   84.03%    484
Female                 14.06%     81
Other / Non-Disclosed   1.91%     11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
purchase_count = purchase_data.groupby('Gender')['Price'].count()
avg_purchase = purchase_data.groupby('Gender')['Price'].mean()
avg_purchase_final = avg_purchase.map("${:,.2f}".format)
total_purchase_value = purchase_data.groupby('Gender')['Price'].sum()
total_purchase_value_final = total_purchase_value.map("${:,.2f}".format)
avg_total_purchase = (total_purchase_value / player_gender_final).map("${:,.2f}".format)

In [17]:
purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                     "Average Purchase Price": avg_purchase_final,
                                     "Total Purchase Value": total_purchase_value_final, 
                                     "Avg. Total Purchase per Person": avg_total_purchase
                                    })
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins.


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [21]:
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"] ,bins , labels=group_names)
age_group = purchase_data.groupby("Age Groups")
total_count_age = age_group["SN"].nunique()

In [22]:
age_percentage = (total_count_age/player_count_final) * 100

In [23]:
age_demo_df = pd.DataFrame({"Percentage of Players": age_percentage, 
                                 "Total Count": total_count_age
                            })
age_demo_df.index.name = None
age_demo_df.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
purchase_age = age_group["Purchase ID"].count()
avg_purchase_price_age = age_group["Price"].mean()
total_purchase_value = age_group["Price"].sum()
avg_purchase_per_person_age = total_purchase_value/total_count_age

In [25]:
age_demo_df2 = pd.DataFrame({"Purchase Count": purchase_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age
                            })

In [26]:
age_demo_df2.index.name = None

In [27]:
age_demo_df2.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"
                          })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
# groupby SN, display top 5 

spender_numbers = purchase_data.groupby("SN")
purchase_count_spender = spender_numbers["Purchase ID"].count()
avg_purchase_price_spender = spender_numbers["Price"].mean()
purchase_total_spender = spender_numbers["Price"].sum()

In [30]:
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

In [31]:
spenders_formatted = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

In [32]:
spenders_formatted.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"
                                })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_numbers = items.groupby(["Item ID","Item Name"])

In [34]:
purchases_item = item_numbers["Price"].count()
purchase_value = (item_numbers["Price"].sum()) 
item_price = purchase_value/purchases_item

In [35]:
most_popular_items = pd.DataFrame({"Purchase Count": purchases_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

In [36]:
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

In [37]:
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [38]:
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

In [39]:
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})